 /* document */
 *{
 	margin: 0;
 	padding: 0;
 }

 /* main */

 .container{
 	width: 400px;
 	height: 200px;
 	background-color: #ccc;
 	position: absolute;
 	top: 0;
 	bottom: 0;
 	right: 0;
 	left: 0;
 	margin: auto;
 	overflow: hidden;
 }

 .left-top{
 	width: 100px;
 	height: 100px;
 	position: absolute;
 	top: -50px;
 	left: -50px;
 	background-color: #fc0;
 	border-radius: 50%;
 }

 .right-bottom{
 	width: 100px;
 	height: 100px;
 	position: absolute;
 	bottom: -50px;
 	right: -50px;
 	background-color: #fc0;
 	border-radius: 50%;
 }