/* document */

*{
	margin: 0;
	padding: 0;
	font-family:宋体,sans-serif;
}

ul{
	list-style: none;
}

::selection{
	color: deepSkyBlue;
};

.clearfix:before,
.clearfix:after{
	content="";
	display: table;
}

.clearfix:after{
	clear: both;
}

/* main */

html{
	font-size: 62.5%;
	color: #333;
}

body{
	font-size: 1.5rem;
	line-height: 1.8;
	background-color: #eee;
}

img{
	display: inline-block;
	width: 300px;
	height: 186px;
	margin: 20px 0;
}

.content{
	width: 92%;
	margin: 2rem auto;
	padding: 2rem;
	border: 1px solid #ddd;
	box-shadow: 4px 4px 10px rgba(100,100,100,0.6);
	background-color: #fff;
}

/* header */

header{
	width:100%;
	background-color: #555;
}

header nav{
	color: #fff;
	padding: 0 1rem;
}

header nav img{
	display: inline-block;
	width: 200px;
	height: 75px;
	float: left;
	margin: 0;
	text-indent: -9999px;
}

header nav ul{
	text-align: right;
}

header nav ul li{
	display: inline-block;
	font-size: 1.3rem;
	line-height: 75px;
	height: 75px;
	padding: 0 1rem;
}

	header nav ul li a{
		color: #fff;
		text-decoration: none;
	}

header nav ul li a:hover{
	color: deepSkyBlue;
}

/* the first tow article */

article h1{
	font-size: 2.2rem;
	font-family: 黑体,sans-serif;
	color: rgba(0,0,0,1);
	margin: 1.5rem 0;
}

article h2{
	font-size: 1.6rem;
	color: rgba(90,90,90,0.8);
	margin: 1rem 0;
}

article p.author{
	font-size: 1rem;
	color: rgba(140,140,140,1);
	margin: 1rem 0;
}

article p.first-line{
	text-indent: 3rem;
}

/* pic */

section p.box{
	width: 320px;
	border: 1px solid lightblue;
	padding: 10px;
	margin: 20px 0 10px 40px;
	text-align: center;
}

section p.box img{
	margin: 10px auto;
}

/* last article */

section ol{
	margin-left: 50px;
	font-weight: bold;
}

section p.form{
	font-weight: bold;
}

section table{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #dedede;
}

section th,td,tr{
	border: 1px solid #dedede;
}

section th{
	color: #fff;
	background-color: #333;
	text-align: left;
}

section tr:last-child td{
	border: none;
	background-color: #ccc;
}

/* aside */

aside h2{
	font-size: 1.6rem;
	line-height: 2;
	padding-left: 10px;
	margin-bottom: 20px;
	border-left: 3px solid #ccc;
}

aside form{
	margin: 20px 0;
}

aside form div{
	margin: 20px 0;
}

aside form div label{
	display: inline-block;
	float: left;
	text-align: right;
	width: 35%;
	padding-right: 15px;
}

aside form div p{
	font-size: 1.2rem;
	color: #a9a9a9;
	margin-left: 35%;
	padding-left: 15px;
}

aside form div input.button{
	display: block;
	width: 100%;
	border-radius: 10px;
	background-color: #3355d0;
	text-align: center;
	color: #fff;
	height: 3rem;
	font-weight: bold;
	border: none;
}

